blinker==1.9.0
click==8.1.8
colorama==0.4.6
ezc3d==1.5.18
Flask==3.1.0
Flask-Injector==0.15.0
injector==0.22.0
itsdangerous==2.2.0
Jinja2==3.1.5
MarkupSafe==3.0.2
numpy==2.2.3
pip==24.3.1
Werkzeug==3.1.3
